{% extends 'base.html' %}

{% block content%}

<h3 class = "text-center mt-5 mb-5"> Ваша корзина {% if not cart.products.count%} пуста {%endif%}</h3>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{message}} </strong> 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}

{% endif %}
{% comment %} {% if cart.products.count %} {% endcomment %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Наименование</th>
        <th scope="col">Изображение</th>
        <th scope="col">Цена</th>
        <th scope="col">Количество</th>
        <th scope="col">Общая цена</th>
        <th scope="col">Действие</th>
      </tr>
    </thead>
    <tbody>
    {% for item in notebooks_in_cart %}
      <tr>
        <th scope="row">{{item.products.title}}</th>
        <td class = "w-25"><img src = {{item.products.image.url}} class = "img-fluid"> </td>
        <td>{{item.products.price}} руб.</td>
         <td>
          <form action="{%url 'CartEditNotebook' item.id%}" method="POST">
            {% csrf_token %}
            <input type="number" class="form-control" name ="qty" style="width: 70px;" min="1" value="{{item.kolichestvo}}">
            <br>
            <input type="submit" class="btn btn-primary" value="Изменить количество">
          </form>
        </td>
        <td>{{item.products.final_price}} руб.</td> 
        <td>
          <a href="#"><button class="btn btn-danger">Удалить из корзины</a>
          </td>
      </tr>
    {%endfor%}
  {% comment %} добавить смартфоны {% endcomment %}
  {% for item in smartphone_in_cart %}
      <tr>
        <th scope="row">{{item.products.title}}</th>
        <td class = "w-25"><img src = {{item.products.image.url}} class = "img-fluid"> </td>
        <td>{{item.products.price}} руб.</td>
         <td>
          <form action="{%url 'CartEditSmartphone' item.id%}" method="POST">
            {% csrf_token %}
            <input type="number" class="form-control" name ="qty" style="width: 70px;" min="1" value="{{item.kolichestvo}}">
            <br>
            <input type="submit" class="btn btn-primary" value="Изменить количество">
          </form>
        </td>
        <td>{{item.products.final_price}} руб.</td> 
        <td>
          <a href="#"><button class="btn btn-danger">Удалить из корзины</a>
          </td>
      </tr>
    {%endfor%}
    <tr>
      <td colspan = "2"></td>
      <td>Итого:</td>
      <td></td>
      <td><strong>руб.</strong></td>
      <td><a href="{%url 'checkout'%}"><button class="btn btn-primary">Перейти к оформлению</button></a></td>
      </tr>
    </tbody>
  </table>
{% comment %} {% endif %} {% endcomment %}
{%endblock content%}